<script type="text/javascript">jwplayer.key="Uqj9XIeHkMvrb4NVHxhZsJtkwk392psLMN4Ndg==";</script>

<div id="jwplayer">Loading the player...</div>

        
        <script type="text/javascript">
            jwplayer("jwplayer").setup({

                //flashplayer: " #{asset_path('jwplayer.flash.swf')} ",
                //flashplayer: "#{Rails.root}/public/jwplayer.flash.swf",
                //html5player: "#{asset_path('jwplayer/jwplayer.html5.js')}",
                // playlist command added to cater multiple input streams
                sources: [
                            // hls
                            { file: "http://52.74.200.107:1935/live/ngrp:myStream.stream_all/playlist.m3u8"
                               
                             }, 

                             // hds
                             { 
                                file: "http://52.74.200.107:1935/live/ngrp:myStream.stream_all/manifest.f4m"
                               
                             }

                             

                             //{
                               // file: "rtmp://52.74.200.107:1935/live/myStream.stream"
                             //},

                             //{
                                //file: "rtsp://52.74.200.107:1935/live/ngrp:myStream.stream_all"
                             //}



                             // added on june 5 
                             //{
                               //  file: "http://52.74.200.107:1935/live/ngrp:myIP.stream_all/playlist.m3u8"

                             //}
                ] ,
       // Added on june 6 for testing
        fallback: true, 
        //androidhls: true, 
        width: 960, 
        height: 540              
            });

            jwplayer("jwplayer").onError(function (event) {
                setTimeout(function () {
                    jwplayer("jwplayer").play(true);
                }, 2000);
            }
        );

</script>